.kh-hide {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.kh-show {
  opacity: 1;
  visibility: visible;
}

.kh-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

.kh-input-checkbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.kh-input-item {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.kh-input-item input,
.kh-input-item button {
  width: 100%;
}
.kh-input-item label {
  position: absolute;
  top: -10px;
  left: 5px;
}

label {
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: all 0.5s;
  color: #fff;
  font-weight: 400;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Josefin Sans", serif;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 36px;
  margin-bottom: 20px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

ul,
ol,
ul li,
figure {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

a:focus,
a:hover {
  text-decoration: none;
  transition: 1s ease all;
  color: #e66120;
}

a:focus,
button:focus {
  outline: none;
}

button:hover {
  background-color: #e66120;
}

nav ol,
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

option {
  background-color: rgba(0, 0, 0, 0.3);
}

textarea {
  width: 100%;
  min-height: 150px;
}

.nice-select {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
}

.kh-profile__post {
  position: relative;
  border: 6px solid transparent;
  transition: all 0.5s;
}
.kh-profile__post:hover {
  border-color: #e66120;
}
.kh-profile__post img {
  margin-bottom: 10px;
}
.kh-profile__post--uptime {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  background-color: #4f4f4f;
}

.kh-profile-card {
  background-color: #303030;
  position: relative;
  padding: 15px 0 15px 15px;
  margin-bottom: 60px;
}
.kh-profile-card h2 {
  font-size: 24px;
  margin-bottom: 0;
}
.kh-profile-card p {
  margin-bottom: 0;
}
.kh-profile-card__head {
  text-align: right;
  padding: 15px;
  background-color: #030303;
  width: 350px;
  margin-left: auto;
}
.kh-profile-card__user {
  margin-top: -60px;
  display: flex;
  gap: 10px;
  position: relative;
}
.kh-profile-card__user img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid #303030;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}
.kh-profile-card__user--data {
  position: absolute;
  top: 60px;
  right: 0;
}
.kh-profile-card__user--info {
  margin: 60px 0 0 -130px;
  background-color: #e66120;
  padding: 30px 60px 15px 130px;
}
.kh-profile-card__content {
  display: flex;
  width: 100%;
  padding-top: 10px;
  justify-content: flex-end;
  background-color: #303030;
}
.kh-profile-card__content--item {
  padding: 15px;
}
.kh-profile-card__content--preferences {
  text-align: right;
  width: 100%;
}
.kh-profile-card__content--details {
  background-color: #030303;
  min-width: 350px;
}
.kh-profile-card__content--preferences-item {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.kh-profile-card__content--preferences-item ul {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.kh-profile-card__content--preferences-item ul:not(:last-of-type) {
  margin-bottom: 10px;
}
.kh-profile-card__tab--item {
  margin-top: 30px;
}
.kh-profile-card__social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  flex-wrap: wrap;
}
.kh-profile-card__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.kh-profile-card__social-link svg {
  font-size: 28px;
  transition: transform 0.3s ease;
}
.kh-profile-card__social-link:hover svg {
  transform: scale(1.2);
}
.kh-profile-card__social-link[title=instagram] svg {
  color: #e1306c;
}
.kh-profile-card__social-link[title=youtube] svg {
  color: #ff0000;
}
.kh-profile-card__social-link[title=tiktok] svg {
  color: #000000;
}
.kh-profile-card__content--social {
  margin-bottom: 20px;
}

.kh-slide {
  position: relative;
  height: clamp(720px, 100vh, 100vh);
  width: 100%;
}
.kh-slide .kh-item {
  width: clamp(150px, 10vw, 300px);
  height: 300px;
  position: absolute;
  top: 75%;
  transform: translate(0, -50%);
  border-radius: 20px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  transition: 0.5s;
  overflow: hidden;
}
.kh-slide .kh-item:nth-child(1), .kh-slide .kh-item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}
.kh-slide .kh-item:nth-child(2) .kh-banner__recipe, .kh-slide .kh-item:nth-child(2) .kh-banner__recipe--title {
  display: block;
  opacity: 1;
}
.kh-slide .kh-item:nth-child(3) {
  left: calc(74% - 200px);
}
.kh-slide .kh-item:nth-child(4) {
  left: calc(62% + 120px);
}
.kh-slide .kh-item:nth-child(5) {
  left: calc(50% + 440px);
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.kh-slide .kh-item:nth-child(5) .kh-banner__recipe--wrapper {
  display: block;
}
.kh-slide .kh-item:nth-child(n+6) {
  left: calc(50% + 440px);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}
.kh-slide .kh-item .kh-banner__recipe,
.kh-slide .kh-item .kh-banner__recipe--title {
  opacity: 0;
}
.kh-slide .kh-item .kh-slide {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
}
.kh-slide .kh-item .kh-slide .name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
.kh-slide .kh-item .kh-slide .description {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}
.kh-slide .kh-item .kh-slide button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.kh-banner {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}
.kh-banner__recipe {
  width: 100%;
  position: absolute;
  height: 100%;
  width: 100%;
}
.kh-banner__recipe--wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 75px, 110px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 20px;
  padding: 30px;
  border-radius: 16px;
  position: absolute;
  width: 100%;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f4f4f4;
}
.kh-banner__recipe--wrapper .kh-banner__recipe--flavorTag {
  grid-area: 1/1/2/6;
}
.kh-banner__recipe--wrapper .kh-banner__recipe--level {
  grid-area: 2/1/3/2;
}
.kh-banner__recipe--wrapper .kh-banner__recipe--pTime {
  grid-area: 2/2/3/3;
}
.kh-banner__recipe--wrapper .kh-banner__recipe--cTime {
  grid-area: 2/3/3/4;
}
.kh-banner__recipe--wrapper .kh-banner__recipe--portion {
  grid-area: 2/4/3/5;
}
.kh-banner__recipe--wrapper .kh-banner__recipe--type {
  grid-area: 2/5/3/6;
}
.kh-banner__recipe--wrapper div {
  background-color: #d7ecfd;
  padding: 15px;
  border-radius: 12px;
  display: block;
}
.kh-banner__recipe--wrapper h4 {
  font-weight: 600;
  font-size: 22px;
  width: 100%;
}
.kh-banner__recipe--wrapper p {
  color: #45abff;
  font-weight: bold;
  font-size: 32px;
}
.kh-banner__recipe--flavorTag {
  width: 100%;
  display: flex !important;
  gap: 20px;
}
.kh-banner__recipe--flavorTag h4 {
  width: auto !important;
}
.kh-banner__recipe--flavorTag ul {
  display: flex;
  gap: 10px;
}
.kh-banner__recipe--flavorTag ul li {
  padding: 10px;
  background-color: #45abff;
  color: #000;
  border-radius: 6px;
}
.kh-banner__recipe--title {
  position: absolute;
  bottom: 150px;
  left: 325px;
  background: #f4f4f4;
  padding: 20px;
  width: 520px;
  border-radius: 20px;
  color: #000;
  font-weight: 600;
}
.kh-banner__recipe--title h2 {
  font-size: 20px;
}
.kh-banner__recipe--title h3 {
  font-size: 48px;
  font-weight: bold;
}
@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}
.button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}
.button button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;
}
.button button:hover {
  background: #ababab;
  color: #fff;
}

.kh-signout {
  cursor: pointer;
}

.kh-header {
  background-color: transparent;
  position: absolute;
  width: 100vw;
  z-index: 99;
}
.kh-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  position: relative;
}
.kh-header__head {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 2;
}
.kh-header__head--nav .trigger {
  position: relative;
  z-index: 1;
}
.kh-header__head--main-logo {
  position: relative;
  padding-right: 30px;
}
.kh-header__head--main-logo:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #4f4f4f;
}
.kh-header__head--main-logo img {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.kh-header__head--menu-wrapper {
  position: absolute;
  top: -20px;
  left: -500px;
  background: #303030;
  color: #fff;
  height: 100vh;
  padding-top: 117px;
  z-index: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 216px;
}
.kh-header__head--menu-wrapper:before {
  content: "";
  position: absolute;
  top: 107px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #4f4f4f;
  z-index: -1;
}
.kh-header__head--menu-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97px;
  background-color: #303030;
  max-width: 216px;
}
.kh-header__head--menu-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #030303;
}
.kh-header__head--menu-wrapper::-webkit-scrollbar {
  width: 4px;
  background: #030303;
}
.kh-header__head--menu-wrapper::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 1px solid #555555;
}
.kh-header__head--menu-wrapper.active {
  left: -30px;
}
.kh-header__head--menu-block {
  margin-bottom: 20px;
}
.kh-header__head--menu-block p {
  color: #838383;
  font-weight: 500;
  padding: 15px 15px 8px;
  font-size: 20px;
  margin-bottom: 0;
}
.kh-header__head--menu-block li a {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  padding: 10px 20px;
}
.kh-header__head--menu-block li a:hover {
  color: #e66120;
  background-color: #595959;
}
.kh-header__head--menu-block li a:hover img {
  filter: invert(75%) sepia(65%) saturate(294%) hue-rotate(350deg) brightness(93%) contrast(89%);
}
.kh-header__head--menu-block img {
  width: 30px;
  height: 30px;
  filter: invert(95%) sepia(95%) saturate(21%) hue-rotate(357deg) brightness(104%) contrast(107%);
}
.kh-header__head--menu-block span {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.kh-header__head--menu-block:not(:first-of-type) {
  border-top: 1px solid #4f4f4f;
}
.kh-header__search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
}
.kh-header__overlay {
  position: relative;
}
.kh-header__overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(48, 48, 48, 0.644);
  z-index: -2;
}
.kh-header__user {
  display: flex;
  gap: 10px;
  position: relative;
  align-items: center;
}
.kh-header__user--profile:hover ~ .kh-header__user--tab {
  visibility: visible;
  opacity: 1;
  top: 45px;
}
.kh-header__user--tab {
  background-color: #e66120;
  color: #fff;
  padding: 5px;
  border-radius: 2px;
  font-size: 14px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: -moz-max-content;
  width: max-content;
  padding: 6px 10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.kh-header__user--tab:hover {
  visibility: visible;
  opacity: 1;
}
.kh-header__user--tab div:not(:last-of-type) {
  margin-bottom: 5px;
}
.kh-header__user--tab div a {
  display: flex;
  gap: 10px;
  align-items: center;
}
.kh-header__user--tab:before {
  content: "";
  height: 6px;
  width: 6px;
  background-color: #e66120;
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.kh-header__user--profile img {
  height: 36px;
  width: 36px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.kh-header__user--profile a {
  position: relative;
}
.kh-header__user--signout .kh-header__user--label {
  bottom: -36px;
  transition-delay: 0.8s;
}

.kh-alert {
  position: relative;
  padding: 15px;
  color: #fff;
  background-color: #4f4f4f;
  border-radius: 4px;
}

.progress-bar {
  background-color: #e66120;
}

.kh-togglefav svg {
  width: 60px;
  padding: 15px;
  height: auto;
}

/* flabor tag start */
.kh-flavor-tag-slider {
  position: relative;
}
.kh-flavor-tag-slider:before, .kh-flavor-tag-slider:after {
  content: "";
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  background: rgb(3, 3, 3);
  background: linear-gradient(90deg, rgb(3, 3, 3) 10%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}
.kh-flavor-tag-slider:before {
  left: 0;
}
.kh-flavor-tag-slider::after {
  right: 0;
  transform: rotate(180deg);
}
.kh-flavor-tag-slider .kh-flavor-tag {
  opacity: 0.6;
}
.kh-flavor-tag-slider .kh-flavor-tag:hover {
  opacity: 1;
}

/* flabor tag end*/
.kh-media-upload .kh-recipe-form__form--item input {
  margin-bottom: 5px;
}
.kh-media-upload__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.kh-media-upload__flex .kh-media-upload__preview {
  max-width: calc((100% - 10px) / 3);
}
.kh-media-upload__preview {
  position: relative;
}
.kh-media-upload__preview img {
  width: 100%;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

/* tagdetailpage starts*/
.kh-tag-detail-page .card img {
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.kh-tag-detail-page .card-body {
  background-color: rgba(255, 255, 255, 0.1);
}

.kh-tag-detail__banner {
  position: relative;
}
.kh-tag-detail__banner img {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  opacity: 0.8;
}
.kh-tag-detail__admin-actions {
  position: absolute;
  top: 30px;
  right: 30px;
}
.kh-tag-detail__tag-name {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* tagdetail page ends*/
/* recipelist page starts*/
.kh-recipe-list .kh-recipe-block__item {
  height: 100%;
}

/* recipelist page ends*/
/* single-recipe page starts*/
.kh-recipe-single__head--title {
  width: 100%;
}
.kh-recipe-single__head--author {
  position: absolute;
  left: 15px;
  bottom: 15px;
  background-color: #030303;
  padding: 10px 15px;
  border-top-right-radius: 8px;
}
.kh-recipe-single__head--title, .kh-recipe-single__head--actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.kh-recipe-single__head--banner {
  position: relative;
  margin-bottom: 30px;
}
.kh-recipe-single__head--info-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--dark-charcol);
  padding: 10px;
  border-radius: 8px;
}
.kh-recipe-single__banner {
  max-height: 350px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 25%;
     object-position: center 25%;
}
.kh-recipe-single__tags {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 6px;
}
.kh-recipe-single__tags--item {
  border: 1px solid #4f4f4f;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 14px;
  display: inline-block;
  margin: 0 6px 6px 0;
  text-transform: capitalize;
}
.kh-recipe-single__ingredient-list li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.kh-recipe-single__ingredient-list label {
  margin-bottom: 0;
}
.kh-recipe-single__ingredient-list span {
  text-transform: capitalize;
}
.kh-recipe-single__ingredient-list input {
  min-height: 24px;
}
.kh-recipe-single__ingredient-list input:checked ~ label {
  text-decoration: line-through;
}
.kh-recipe-single__content ul {
  margin-left: 20px;
  margin-bottom: 30px;
}
.kh-recipe-single__content li {
  list-style-type: disc;
}

/* single-recipe page ends*/
.kh-accordion h3 {
  font-size: 20px;
}

.kh-slider .slider-for {
  max-width: 600px;
}
.kh-slider .slider-for .slick-arrow {
  font-size: 0;
  border: 0;
  background-color: unset;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.kh-slider .slider-for .slick-next {
  left: auto;
  right: 30px;
}
.kh-slider .slider-for .slider-for img {
  padding: 30px;
  max-height: 500px;
  -o-object-fit: contain;
  object-fit: contain;
  background-color: #fff;
}
.kh-slider .slider-nav {
  margin-left: 15px;
  max-width: 600px;
}
.kh-slider .slider-nav .slick-list {
  margin: 0 -15px;
  padding: 0 !important;
  width: 100%;
}
.kh-slider .slider-nav .slick-slide {
  width: 33.3333333333%;
  margin: 0 8px;
}
.kh-slider .slider-nav img {
  height: 100px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: #f7f7fa;
}
.kh-slider .slider-nav .slick-slide {
  height: 100%;
}

.kh-video__item {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: -1;
  transition: all 0.5s;
}
.kh-video.active .kh-video__item {
  z-index: 99;
}

.kh-cookshop__list--items {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.kh-cookshop__list--item {
  width: 140px;
  transition: all 0.5s;
  border: 6px solid transparent;
}
.kh-cookshop__list--item p {
  text-align: center;
  padding: 4px 10px;
  background-color: #fff;
  color: #303030;
  margin-bottom: 0;
  text-transform: capitalize;
  font-weight: 600;
}
.kh-cookshop__list--item.active {
  border-color: #e66120;
}/*# sourceMappingURL=custom.css.map */