// Global Css
.kh-hide {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.kh-show {
  opacity: 1;
  visibility: visible;
}
.kh-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
.kh-input-checkbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.kh-input-item {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  input,
  button {
    width: 100%;
  }
  label {
    position: absolute;
    top: -10px;
    left: 5px;
  }
}

label {
  font-weight: 400;
}
$dark-charcol: #f2f2f2;
$white: #fff;
$primary-color: #e66120;
$gray: #838383;
$border-light: #4f4f4f;
$hover-color: #595959;
$bg-dark: #030303;
$bg-gray: #303030;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: all 0.5s;
  color: $white;
  font-weight: 300;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Josefin Sans", serif;
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
h1 {
  font-size: 48px;
  font-weight: 700;
}
h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
h3 {
  font-size: 36px;
  margin-bottom: 20px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
ul,
ol,
ul li,
figure {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: $white;
}
a:focus,
a:hover {
  text-decoration: none;
  transition: 1s ease all;
  color: $primary-color;
}
a:focus,
button:focus {
  outline: none;
}
button:hover {
  background-color: $primary-color;
}
nav ol,
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
option {
  background-color: rgba(0, 0, 0, 0.3);
}
textarea {
  width: 100%;
  min-height: 150px;
}
.nice-select {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
}
.kh-profile {
  h1 {
    text-align: center;
  }
  &__user {
    display: flex;
    justify-content: center;
    padding: 100px;
    img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: top center;
    }
    &--img-error {
      width: auto;
      display: inline-block;
    }
    &--action-links {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  &__items {
  }
  &__item-wrapper {
    height: 220px;
    margin-bottom: 10px;
    &:nth-child(odd) {
      background-color: transparent;
    }
  }
  &__item {
    position: relative;
    border-radius: 2px;
    height: 100%;
    &--img {
      height: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 2px;
      }
      .kh-profile__item--details {
        display: flex;
        font-size: 16px;
        h3 {
          font-size: 24px;
        }
      }
    }
    &--prep,
    &--cook {
      &:after {
        content: "min";
        font-size: 12px;
      }
    }
    &--content {
      gap: 15px;
      position: absolute;
      top: 0;
      left: 0;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%;
    }
    &--details {
      display: flex;
      flex-wrap: wrap;
    }
    &--tags {
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
      }
      li {
        position: relative;
        display: inline-block;
        text-transform: capitalize;
        background-color: $gray;
        border-radius: 2px;
        padding: 2px 6px;
        font-size: 10px;
        &:not(:last-child) {
          &:after {
            content: ",";
            position: absolute;
            bottom: -6px;
            right: -6px;
          }
        }
      }
    }
    &--btns {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
    }
    &--uptime {
      position: absolute;
      bottom: 5px;
      left: 8px;
      font-size: 12px;
    }

    &--tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    &--tag {
      display: flex;
      gap: 10px;
      min-width: 10%;
    }
  }
}
main {
}
// Homepage starts

// homepage Banner starts

.kh-slide {
  position: relative;
  height: clamp(720px, 100vh, 100vh);
  width: 100%;

  .kh-item {
    width: clamp(150px, 10vw, 300px);
    height: 300px;
    position: absolute;
    top: 75%;
    transform: translate(0, -50%);
    border-radius: 20px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    transition: 0.5s;
    overflow: hidden;

    &:nth-child(1),
    &:nth-child(2) {
      top: 0;
      left: 0;
      transform: translate(0, 0);
      border-radius: 0;
      width: 100%;
      height: 100%;
    }

    &:nth-child(2) .kh-banner__recipe,
    &:nth-child(2) .kh-banner__recipe--title {
      display: block;
      opacity: 1;
    }

    &:nth-child(3) {
      left: calc(74% - 200px);
    }

    &:nth-child(4) {
      left: calc(62% + 120px);
    }

    &:nth-child(5) {
      left: calc(50% + 440px);
      visibility: visible;
      opacity: 1;
      transition: 0.5s;
      .kh-banner__recipe--wrapper {
        display: block;
      }
    }

    &:nth-child(n + 6) {
      left: calc(50% + 440px);
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
    }

    .kh-banner__recipe,
    .kh-banner__recipe--title {
      opacity: 0;
    }
    .kh-slide {
      position: absolute;
      top: 50%;
      left: 100px;
      width: 300px;
      text-align: left;
      color: #eee;
      transform: translate(0, -50%);
      font-family: system-ui;
      display: none;

      .name {
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
      }

      .description {
        margin-top: 10px;
        margin-bottom: 20px;
        opacity: 0;
        animation: animate 1s ease-in-out 0.3s 1 forwards;
      }
      button {
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        opacity: 0;
        animation: animate 1s ease-in-out 0.6s 1 forwards;
      }
    }
  }
}

.kh-banner {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  &__recipe {
    width: 100%;
    position: absolute;
    height: 100%;
    width: 100%;
    &--wrapper {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 75px, 110px;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      gap: 20px;
      padding: 30px;
      border-radius: 16px;
      position: absolute;
      width: 100%;
      top: 35%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #f4f4f4;
      .kh-banner__recipe--flavorTag {
        grid-area: 1 / 1 / 2 / 6;
      }
      .kh-banner__recipe--level {
        grid-area: 2 / 1 / 3 / 2;
      }
      .kh-banner__recipe--pTime {
        grid-area: 2 / 2 / 3 / 3;
      }
      .kh-banner__recipe--cTime {
        grid-area: 2 / 3 / 3 / 4;
      }
      .kh-banner__recipe--portion {
        grid-area: 2 / 4 / 3 / 5;
      }
      .kh-banner__recipe--type {
        grid-area: 2 / 5 / 3 / 6;
      }
      div {
        background-color: #d7ecfd;
        padding: 15px;
        border-radius: 12px;
        display: block;
      }
      h4 {
        font-weight: 600;
        font-size: 22px;
        width: 100%;
      }
      p {
        color: #45abff;
        font-weight: bold;
        font-size: 32px;
      }
    }
    &--flavorTag {
      width: 100%;
      display: flex !important;
      gap: 20px;
      h4 {
        width: auto !important;
      }
      ul {
        display: flex;
        gap: 10px;
        li {
          padding: 10px;
          background-color: #45abff;
          color: #000;
          border-radius: 6px;
        }
      }
    }
    &--title {
      position: absolute;
      bottom: 150px;
      left: 325px;
      background: #f4f4f4;
      padding: 20px;
      width: 520px;
      border-radius: 20px;
      color: #000;
      font-weight: 600;
      h2 {
        font-size: 20px;
      }
      h3 {
        font-size: 48px;
        font-weight: bold;
      }
      p {
      }
    }
  }
}
@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;

  button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;

    &:hover {
      background: #ababab;
      color: #fff;
    }
  }
}

// homepage Banner ends

// homepage ends
// header start
.kh-header {
  background-color: transparent;
  position: absolute;
  width: 100vw;
  z-index: 99;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    position: relative;
  }
  &__head {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    z-index: 2;
    &--nav .trigger {
      position: relative;
      z-index: 1;
    }
    &--main-logo {
      position: relative;
      padding-right: 30px;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background-color: $border-light;
      }
      img {
        width: 100px;

        object-fit: contain;
      }
    }
    &--menu-wrapper {
      position: absolute;
      top: -20px;
      left: -500px;
      background: $bg-gray;
      color: $white;
      height: 100vh;
      padding-top: 117px;
      z-index: 0;
      overflow-y: scroll;
      overflow-x: hidden;
      max-width: 216px;
      &:before {
        content: "";
        position: absolute;
        top: 107px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $border-light;
        z-index: -1;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 97px;
        background-color: $bg-gray;
        max-width: 216px;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background: $bg-dark;
      }

      &::-webkit-scrollbar {
        width: 4px;
        background: $bg-dark;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #000000;
        border: 1px solid #555555;
      }

      &.active {
        left: -30px;
      }
    }
    &--menu-block {
      margin-bottom: 20px;
      p {
        color: $gray;
        font-weight: 500;
        padding: 15px 15px 8px;
        font-size: 20px;
        margin-bottom: 0;
      }
      li {
        a {
          display: flex;
          align-items: flex-end;
          gap: 20px;
          padding: 10px 20px;
          &:hover {
            color: $primary-color;
            background-color: $hover-color;
            img {
              filter: invert(75%) sepia(65%) saturate(294%) hue-rotate(350deg)
                brightness(93%) contrast(89%);
            }
          }
        }
      }
      img {
        width: 30px;
        height: 30px;
        filter: invert(95%) sepia(95%) saturate(21%) hue-rotate(357deg)
          brightness(104%) contrast(107%);
      }
      span {
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.5px;
      }
      &:not(:first-of-type) {
        border-top: 1px solid $border-light;
      }
    }
    &--page-title {
    }
  }
  &__search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
  }

  &__overlay {
    position: relative;
    &.active {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background-color: rgba(48, 48, 48, 0.644);
      z-index: -2;
    }
  }
  &__user {
    &--label {
      background-color: $primary-color;
      padding: 5px;
      border-radius: 2px;
      font-size: 14px;
      opacity: 0;
      visibility: hidden;
      transition: all 1s ease;
      transition-delay: 1s;
      position: absolute;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);

      &:before {
        content: "";
        height: 6px;
        width: 6px;
        background-color: $primary-color;
        position: absolute;
        top: -3px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
      }
    }
    &--profile {
      position: absolute;
      left: 0;
      top: 0;
      transition: all 1s ease;
      a {
        position: relative;
      }
    }
    &--tab {
      position: relative;
      display: flex;
      img {
        height: 36px;
        width: 36px;
        object-fit: cover;
        border-radius: 50%;
      }
      &:hover {
        .kh-header__user--profile {
          left: calc(-100% - 30px);
        }
        .kh-header__user--label {
          opacity: 1;
          visibility: visible;
        }
        .kh-header__user--signout {
          z-index: 1;
        }
      }
    }
    &--signout {
      position: relative;
      z-index: -1;
      .kh-header__user--label {
        bottom: -36px;
        transition-delay: 0.8s;
      }
    }
  }
}
.kh-alert {
  position: relative;
  padding: 15px;
  color: $white;
  background-color: $border-light;
  border-radius: 4px;
}
.progress-bar {
  background-color: $primary-color;
}
.kh-togglefav {
  svg {
    width: 60px;
    padding: 15px;
    height: auto;
  }
}
// Header ends

/* flabor tag start */

.kh-flavor-tag-slider {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    background: rgb(3, 3, 3);
    background: linear-gradient(90deg, rgb(3, 3, 3) 10%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
  }
  &:before {
    left: 0;
  }
  &::after {
    right: 0;
    transform: rotate(180deg);
  }
  .kh-flavor-tag {
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}
/* flabor tag end*/

.kh-media-upload {
  .kh-recipe-form__form--item {
    input {
      margin-bottom: 5px;
    }
  }
  &__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    .kh-media-upload__preview {
      max-width: calc((100% - 10px) / 3);
    }
  }
  &__preview {
    position: relative;
    img {
      width: 100%;
      height: 80px;
      object-fit: cover;
      border-radius: 4px;
    }
  }
}

/* tagdetailpage starts*/
.kh-tag-detail-page {
  .card {
    img {
      max-height: 300px;
      object-fit: cover;
    }
  }
  .card-body {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.kh-tag-detail {
  &__wrapper {
  }
  &__banner {
    position: relative;
    img {
      width: 100%;
      max-height: 400px;
      object-fit: cover;
      border-radius: 12px;
      opacity: 0.8;
    }
  }
  &__admin-actions {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  &__tag-name {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

/* tagdetail page ends*/

/* recipelist page starts*/
.kh-recipe-list {
  .kh-recipe-block__item {
    height: 100%;
  }
}
/* recipelist page ends*/
/* single-recipe page starts*/
.kh-recipe-single {
  &__head {
    &--title {
      width: 100%;
    }
    &--author {
      position: absolute;
      left: 15px;
      bottom: 15px;
      background-color: $bg-dark;
      padding: 10px 15px;
      border-top-right-radius: 8px;
    }
    &--title,
    &--actions {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
    }
    &--banner {
      position: relative;
      margin-bottom: 30px;
    }
    &--info-wrapper {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: var(--dark-charcol);
      padding: 10px;
      border-radius: 8px;
    }
  }
  &__banner {
    max-height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: center 25%;
  }
  &__tags {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 6px;
    &:last-child {
    }
    &--list {
    }
    &--item {
      border: 1px solid $border-light;
      padding: 6px 10px;
      border-radius: 8px;
      font-size: 14px;
      display: inline-block;
      margin: 0 6px 6px 0;
      text-transform: capitalize;
    }
  }
  &__ingredient-list {
    li {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    label {
      margin-bottom: 0;
    }
    span {
      text-transform: capitalize;
    }
    input {
      min-height: 24px;
      &:checked ~ label {
        text-decoration: line-through;
      }
    }
  }
  &__content {
    ul {
      margin-left: 20px;
      margin-bottom: 30px;
    }
    li {
      list-style-type: disc;
    }
  }
}
/* single-recipe page ends*/
.kh-accordion {
  h3 {
    font-size: 20px;
  }
}

// slider starts
.kh-slider {
  .slider-for {
    max-width: 600px;
    .slick-arrow {
      font-size: 0;
      border: 0;
      background-color: unset;
      padding: 10px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 30px;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }
    .slick-next {
      left: auto;
      right: 30px;
    }
    .slider-for img {
      padding: 30px;
      max-height: 500px;
      -o-object-fit: contain;
      object-fit: contain;
      background-color: #fff;
    }
  }

  .slider-nav {
    margin-left: 15px;
    max-width: 600px;
    .slick-list {
      margin: 0 -15px;
      padding: 0 !important;
      width: 100%;
    }
    .slick-slide {
      width: calc(100% / 3);
      margin: 0 8px;
    }
    img {
      height: 100px;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      background-color: #f7f7fa;
    }
    .slick-slide {
      height: 100%;
    }
  }
}
// slider ends
// video starts
.kh-video {
  &__item {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: -1;
    transition: all 0.5s;
  }
  &.active {
    .kh-video__item {
      z-index: 99;
    }
  }
}
// video ends
// &__item,
//   &__close {
//     &.active {
//     }
//   }

//   &__close {
//     top: 220px;
//     left: 480px;
//   }
